



*{margin:0; padding:0;border:none;font-family: arial;}


.clear{ clear:both;}
.content{ width:945px;margin: 0 auto;}


/*-------------------------------------------------
TITLE-BAR CLASSES  
-------------------------------------------------*/
.nav-bar-wrapper{ background:#ededee;}

.nav-logo{float:left;max-width:176px; margin-top: 18px;margin-left:-12px;padding-bottom: 16px;}

.nav-bar-list{ float:right;padding-right:16px; margin-top: 45px}
.nav-bar-list-item{  padding: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer; 
}
.nav-bar-list-item:hover{background-color:#dcdcde }
.nav-bar-list-item a {
	color: black;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	outline: 0;
}
.nav-bar-list ul .active{background-color:#dcdcde;}



/*-------------------------------------------------
TABS HEADER CLASSES  
-------------------------------------------------*/



.tabs-header-wrapper{ background:#6ec7d9;}
.tabs-header-list{ margin: 0 auto; width:820px;padding-right: 4px;}
.tabs-header-list-item{
	cursor:pointer;
	display: inline-block;
	min-height: 94px;
	
	vertical-align: top;
	text-align: center;
	position: relative;
	
	
}
.tabs-header-list-item:hover{background-color:#4095a6; }
.tabs-header-list-item a{text-decoration: none;outline: 0;}
.tabs-header-list-item a p{
	padding-top: 3px;
	color: white;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}
.tabs-header-list .selected{ background:#4095a6;}
.tabs-header-list .selected:after {
    content: url('../images/current_tab.png');
    position: absolute;
    bottom: -4px;
	left: 50%;
	margin-left: -13px;
}
.tab-icon-correct{margin-top: 11px;}
.tabs-header-list-item a span{padding-top: 14px;width:160px;height: 72px; display: inline-block;}




.slider-and-text-wrapper{margin-top: 78px;padding-right: 6px}
/*-------------------------------------------------
TEXT AND BUTTON SIDE TO SLIDER CLASSES  
-------------------------------------------------*/
.button-and-text-wrapper{
	float: left;
}
.text-wrapper{ 
    width:  340px; 
    height: 280px;
}
.text-wrapper p{
	font-size: 37px;
	font-weight: bold;
	line-height: 41px;
}
.button-and-text-wrapper button{
	width: 242px;
	height: 65px;
	font-size: 25px;
	background: #e4366d ;
	color: white;
	font-weight: bold;
	cursor: pointer;
}


/*-------------------------------------------------
SLIDER CLASSES  
-------------------------------------------------*/
.slider-wrapper{
	padding: 15px;  
    border:  2px solid #ccc;   
    width:  548px; 
    height: 277px;
    position: relative;
    float:right;
    margin-top: 6px;
}
.slider{   
    position: relative;
} 
.slider-prev-icon{
	position: absolute;
	display: inline-block;
	left:-2px;
	top:50%;
	margin-top: -44px;
	background: white;
	padding-top: 13px;
	padding-bottom: 8px;
}
.slider-next-icon{
	position: absolute;
	display: inline-block;
	right:-2px;
	top:50%;
	margin-top: -44px;
	background: white;
	padding-top: 13px;
	padding-bottom: 8px;
}
.nav-slide{
	position: absolute;
	bottom: -25px;
	display: inline-block;
	left:40%;
	margin-left: -7px;
	background: white;
}
.nav-slide span{
	
	margin-right:  12px;
	margin-left: 13px;
	font-size: 45px;
	color: #716a66;
	cursor: pointer;
}
.nav-slide span.cycle-pager-active{color: #4095a6}

.slider-message{
	color: #716a66;
	font-size: 23px;
	text-align: center;
	margin-top: 5px;
	margin-left: 29px;
	margin-right: 29px;
	height: 202px;
	line-height: 31px
}
.slider-message-writer{
	color: #4095a6;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
}


/*-------------------------------------------------
TEXT BOX BELOW SLIDER CLASSES
-------------------------------------------------*/

.text-box-below-slider{
	margin-top: 76px;
	margin-left: 2px;
}
.text-box-below-slider P{
	font-size: 32px;
	font-weight: bold;
	color: #716a66;
	line-height: 41px;
}



/*-------------------------------------------------
TEXT BOX with Image CLASSES
-------------------------------------------------*/

.textbox-with-image-wrapper{margin-top: 57px;padding-left: 3px;padding-bottom: 10px}
.textbox-with-image-wrapper.adjust-padding{padding-bottom: 16px;}
.left-panel{float: left;}
.right-panel{float: right;}
.textbox-side-to-image{
	width: 580px;
}
.textbox-side-to-image-heading{
	font-size: 22px;
	line-height: 21px;
	font-weight: bold;
	margin-top: -2px;
	color: #716a66;
}
.textbox-side-to-image-content{
	font-size: 19px;
	line-height: 27px;
	margin-top: 14px;
	color: #716a66;
}



/*-------------------------------------------------
BUTTON AFTER TEXT BOX with Image CLASSES
-------------------------------------------------*/


.button-after-boxes{margin-top: 41px;text-align: center;padding-left: 27px;}
.button-after-boxes button{
	width: 242px;
	height: 66px;
	font-size: 25px;
	background: #e4366d ;
	color: white;
	font-weight: bold;
	cursor: pointer;
}


/*-------------------------------------------------
TEXTBOX AFTER BUTTON CLASSES
-------------------------------------------------*/

.text-box-below-button{margin-top: 56px;margin-left: -1px;}
.text-box-below-button-heading{
	font-size: 31px;
	line-height: 42px;
	font-weight: bold;
	color: #716a66;
}
.text-box-below-button-content{
	font-size: 21px;
	line-height: 32px;
	margin-top: 5px;
	color: #716a66;
}




/*-------------------------------------------------
CONTACT FORM
-------------------------------------------------*/

.contact-form{margin-top: 76px;}
.contact-form h1{color: #6ec7d9;}
.contact-form h2{margin-top: 8px;font-size: 22px;padding-bottom: 18px;}
.contact-form p{font-size: 18px;color: #716a66;}
.field-label{font-weight: bold;margin-top: 24px;margin-bottom: 11px}
.field-label span{font-weight: normal;margin-left: 8px;}
.textfield{
	border:  2px solid #ccc;
	border: 2px solid #ccc;
	width: 54.7%;
	height: 38px;
}
.textarea{
	border:  2px solid #ccc;
	width: 54.7%;
	height: 133px;
}
.field-label-adjust{ padding-top: 5px;}
.submit-button{
	width: 98px;
	height: 66px;
	font-size: 25px;
	background: #e4366d ;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-top: 47px;
}


/*-------------------------------------------------
FOOTER CLASSES   
-------------------------------------------------*/
.footer-wrapper{ background:#c7c3c1; margin-top:59px;}
.footer-left-panel{float:left;padding-top: 40px;margin-left: -12px; }
.footer-right-panel{ 
	padding-top:50px;
	padding-bottom:48px; 
	margin-left:97px;
	float:right;
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	list-style-type: none;
}
.footer-right-panel li{ color:#ffffff;line-height:35px;font-size:18px;}
.footer-right-panel li a{ color:#ffffff;text-decoration:none;cursor: pointer;}
.footer-right-panel li a:hover{ color:#ffffff;}